textarea {
    width: 30em;
    height: 10em;
    resize: none;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

html {
    background-color: gray;
}

#main-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 10cm;
    overflow: auto;
}

.hidden {
    display: none;
}

.button-box {
    position: absolute;
    bottom: 0;
    left: 0;
}

#cards-root {
    transform-style: preserve-3d;
    height: fit-content;
}

.flashcard {
    aspect-ratio: 3/2;
    position: relative;
    margin: 30px;
    width: 300px;
    border: solid black 1px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    user-select: none;
}

.flipped {
    transform: rotateY(180deg);
}

.flashcard div {
    position: absolute;
    inset: 0 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.flashcard .back .right-button,
.flashcard .front .left-button {
    position: absolute;
    bottom: 0;
    left: 0;
}

.flashcard .back .left-button,
.flashcard .front .right-button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.flashcard .back {
    transform: rotateY(180deg) translateZ(0.1px);
}